defmodule <%= module %>Test.Year<%= year %>.Day<%= day %> do
  use ExUnit.Case, async: true
  alias <%= module %>.Year<%= year %>.Day<%= day %>, as: Solution

  test "is part1 working" do
    assert Belodon.solve(Solution, :part1) == 0
  end

  test "is part2 working" do
    assert Belodon.solve(Solution, :part2) == 0
  end

  test "is part working" do
    input = ~s"""
    """

    assert Belodon.test(Solution, input, :part1) == 0
  end
end
